body {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
}
strong{font-weight:500;}
[class*="col"] { margin-bottom: 20px; }
[class*="pull-right"]{margin-right:20px;}